# OS
Thumbs.db
Desktop.ini

# Editors
.vscode/
.idea/

# Logs
*.log
*-verify.png
frontend-preview.png

# Environment
.env
.env.*

# Frontend
node_modules/
dist/
build/

# Rust
target/

# Database
*.sqlite
*.db
